[package]
name = "logtail"
description = "Displays and updates a dashboard based on one or more logfiles"
version = "0.1.3"
authors = ["Mark <git@happybeing.com>"]
license = "GPL-3.0"
homepage = "https://github.com/theWebalyst/logtail-dash"
repository = "https://github.com/theWebalyst/logtail-dash"
readme = "README.md"
exclude = [".github"]
keywords = ["utility", "logfile", "monitor", "cli"]
categories = ["command-line-utilities"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["termion"]

[dependencies]
rand = "0.7.3"
structopt = "~0.3.15"
tui = { version = "0.10.0", features = ["termion", "crossterm"], default-features = false }
linemux = "0.1.1"
tokio = "0.2.22"
futures = "0.3.5"
termion = { version = "1.5", optional = true }
crossterm = { version = "0.17", optional = true }
#unicode-segmentation = "1.2"
#unicode-width = "0.1"

[[bin]]
name = "logtail-termion"
required-features = ["termion"]

[[bin]]
name = "logtail-crossterm"
required-features = ["crossterm"]
